@import "common";

.filters {
  flex-direction: row;
  gap: 16px;
  display: flex;
  align-items: flex-end;
  margin-top: 32px;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
  min-height: 300px;
}

.pagination {
  margin-top: 24px;
}
