@import "common";

.notEmpty {
  color: $black;
}

.description {
  margin-top: 16px;
}

.title {
  margin-bottom: 24px;
  user-select: none;
  cursor: pointer;
}

.container {
  margin: auto;
  flex-direction: column;
  gap: 24px;
  display: flex;
  width: 466px;
}
