@import "common";

// .description {
//   margin-top: 16px;
// }

.title {
  margin-bottom: 24px;
  text-align: center;
}

.modal {
  padding: 0;
}

// .content {
//   align-items: stretch;
//   width: 100%;

//   &.reversed {
//     flex-direction: column-reverse;
//   }
// }
.container {
  margin: auto;
  flex-direction: column;
  gap: 24px;
  display: flex;
  width: 466px;
  align-items: stretch;
}

// .filler {
//   height: 80px;
//   width: fit-content;
//   margin: auto;
//   display: flex;
//   align-items: center;
// }
