@import "common";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 24px 64px;
  z-index: 1000;

  transition: background-color 0.3s;
}

.background {
  border-bottom: 1px solid $primary-0;
  background: $background;
}
